/* HEADER */


@mixin anclas {
    text-decoration: none;
    color:black
}

.encabezado {
margin-top: 10px;
display: flex;
justify-content: space-around;
align-items: center;
height: 100px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

h1 {
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    text-decoration: none;
    margin-left: 20px;
}

li {
    display: inline-block;
    list-style-type: none;
    margin-left: 80px;

    a {

    @include anclas;
    font-size: 1.2rem;
    margin-left: 80px;
    margin: 5px;

    &:hover {
        color: #7ab730;
    }
}

}
    

}
img {
    margin: 50px 50px;
    width: 150px;
    height: 110px;
}

