
/* MAIN */

.banner {
    margin-top: 0.3px;
    background-image: url(../img/banner.png);
    height: calc(100vh - 100px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerContenido {
    flex-direction: column;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.banner::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    content: "";
    position: absolute;
}

.bannerContenido {
    h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    }

    p {
    color: #FAFAFA;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    }
}


  /* TRAYECTOS */

.trayectos {
    text-align:center ;
    margin: 15px;
border-bottom: 1px solid black;
    
    }

.trayectos h3 {
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-top: 25px;

    
}

.trayectos p { 
    margin-top: 5px;
    padding: 5px;
    font-size: 1.1rem;
    color:#212121
        } 

.trayectos h2 {
    font-size: 25px;
} 

.trayectos  {
    text-align: center;
    padding: 5px;
    border-radius: 10px;
border: 1px solid #ccc
}


  /* TARJETAS */ 

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.tarjeta {
    .tarjeta  {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
        border: 1px solid #ccc;
        background-color: white;
        
        }

    img {
    width: 80%;
    height: 60%;
    align-items: center;
    border-radius: 10px;
}

    p {

    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 45px;
    }

    //--TARJETAS PRODUCTOS --//

    .destacados {
display: flex;
justify-content: space-around;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 10px;
box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
border: 1px solid #ccc;
background-color: white;
        }
    
div {

        border: 1px solid black;
        width: 500px;
        height: 500px;
        text-align: center;
        margin-bottom: 20px; 
        display: flex;
    }

    .destacados h2 {
        font-size: 25px;
    }

    .parrafos_productos {
        font-size: 1.2rem;
    }

}


  /* BANNER NOSOTROS */

.bannerNosotros {
    background-color: #7AB730;
    margin-top: 2px;
    height: calc(30vh - 30px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
    color: #FAFAFA;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    }
}

.nosotros {
    p {
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
}

    h2 {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 15px;
    }
}


.nosotrosContenido {
    background-color: #28a745;
}

.nosotros_banner {
    background-color: $color-verde;
    font-size: 2rem;
    text-align: center;
    color: #F3F3F3;
    height: 100%;
    width: 100%;

    p {
font-size: 1.5rem;
    }
}

  /* BANNER PRODUCTOS */

.bannerProductos {
    height: calc(30vh - 30px);
    background-color:$color-verde;
    margin-top: 2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color:$color-blanco;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;
        }
    }


.nosotrosContenido {
    background-color: #28a745;
}

.bannerProductos {
    h2 {
    font-size: 1.8rem;
    text-decoration: underline;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    margin-top: 10px;
    font-size: 1.8rem;
    text-decoration: none;
    }

    p {
    font-size: 1.5em;
    font-family: sans-serif;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
    }


  /* CONTAINER CONTACTO */

.main {
display:flex;
justify-content: center;
align-items: center;
background: linear-gradient (rgba(0, 0, 0, 0.2));
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}

.container {
    display:grid;
    grid-template-columns: repeat(2,50%);
    padding:20px;
    gap:10px;
    width: 1000px;
}

.box-info {
    color:#fff;
    display:flex;
    flex-direction: column;
    gap:50px;
}

.box-info > h1 {
    text-align: left;
    letter-spacing: 5px;
}

.data {
    display: flex;
    flex-direction: column;
    gap:25px
}

.data > p {
    font-size: 1rem;
}

.data > p > i {
    color:crimson;
    margin-right: 10px;
    font-size:25px;
}



.links {
    display:flex;
    gap:15px;
}

.links > a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: crimson;
    text-align: center;
    transition: .1s;
}

.links > a > i {
    color:#fff;
    line-height: 40px;
    font-size: 20px;
}

form {
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:15px;
}

.input-box {
    position:relative;
}

.input-box > input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline:none;
    background:(rgba(0, 0, 0, 0.2));
    border:3px solid transparent;
    letter-spacing: 1px;
    transition:.3s;
    color:#fff;
    
}

.input-box > input::placeholder,
.input-box > textarea::placeholder {
    color:#a3a3a3;
    
}

.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder {
    color:transparent;
}

.input-box > input:focus,
.input-box > textarea:focus {
    border-bottom:3px solid crimson;
    animation: shake .2s;
}

.input-box > textarea {
    border:3px solid transparent;
    width: 100%;
    height: 130px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    outline: none;
    transition:.3s;
    color:#fff;
    letter-spacing: 1.5px;
}


.input-box > i {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    color: rgba(0, 0, 0, 0.2);
    transition: .3s;
}

.input-box > input:focus ~ i {
    color:crimson;
}

form > button {
    width: 100%;
    padding: 10px;
    outline: none;
    background: crimson;
    color:#fff;
    border:none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem;
}

form > button:hover,
.links > a:hover {
    background: rgb(172, 16, 47);
}
}

