
@media (max-width: 1023px) {

    .encabezado {
    height: auto;
    flex-direction: column;
    text-align: center;
    
    
    }
    

    .encabezado h1 {
    font-size: 1rem;
        
        }

    .bannerContenido{
    font-size: 1rem;
    text-align: center;
    }
    
    .bannerContenido p{
        font-size: 1.5rem;
        }
        
    
    
    .trayectos {
        margin: 5vh;
        font-size: 2rem;
    
    }
    
    .trayectos h3 
    .trayectos p {
    font-size: inherit;
    
    }
    
    
    .contenedorTrayectos{
    grid-template-columns: 1fr;
    
    }
    
    .contenidofooter{
        flex-direction: column;
        text-align: center;
        }
    
    }


    @media (max-width: 768px) {

        .contenedorTrayectos{
        grid: template columns 1fr; ;
        }
        
        

        .encabezado h1 {
            font-size: 1.2rem;
                
                }

                .bannerContenido h2 {
                    text-align: center;
                    margin-bottom: 10px;
                    color: #fff;
                    font-size: 1.5rem;
                    font-weight:bold
                    
                }
                .bannerContenido p {
                    color: #FAFAFA;
                    font-size: 1rem;
                    text-transform:uppercase ;
                    font-weight: 700;
                    text-align: center;
                    margin-bottom: 20px;
                }
        }